@inherits CounterComponent

<h1 style="background-color: @Utils.GetRandomColor();">Counter</h1>

<p>Current count: @CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>